.mainBlockEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 17px;
  margin-bottom: 20px;
}

.editPageLink {
  display: flex;
  align-items: center;
}

.form {
  background: linear-gradient(135deg, #312b37, #314f69);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #ccc;
}

.input,
.select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.input {
  background-color: #f9f9f9;
}

.select {
  background-color: #f9f9f9;
}

.submitButton {
  background-color: #0b1c21;
  color: #fff;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #4f276f;
}

.mainProductsBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.productCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgb(0 0 0);
  transition: transform 0.3s;
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 500px;
}

.productCard:hover {
  transform: translateY(-5px);
}

.seeButton {
  width: 100%;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.seeButton button {
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 8px;
  color: #242424;
  line-height: 20px;
  width: 80%;
  border: none;
}

.productCard:hover .seeButton {
  opacity: 1;
}

.heartButtonBlock {
  position: absolute;
  right: 0;
  top: 0;
}

.productImage {
  width: 210px;
  height: 250px;
  border-radius: 4px;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
}

.price {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  text-align: left;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.addToCart,
.like {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addToCart {
  display: flex !important;
  align-items: center;
  gap: 10px !important;
  margin-top: 10px;
}

.addToCart:hover {
  background-color: green;
}

.inCart {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  margin-top: 10px;
  background-color: #242424 !important;
  border-color: #242424 !important;
}

.like:hover {
  background-color: transparent !important;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
}

.productRatingBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 3px;
}

@media (max-width: 1180px) {
  .editPageLink {
    margin-top: 75px;
  }
  .mainBlockEdit {
    margin-bottom: 20px;
  }
}

@media (max-width: 820px) {
  .mainBlockEdit {
    padding: 17px 30px;
  }
}

@media (max-width: 720px) {
  .mainBlockEdit {
    flex-direction: column;
    gap: 20px;
  }
  .mainProductsBlock {
    margin-top: 0;
  }
}
