.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .messageWrapper {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .title {
    font-size: 3rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .animationWrapper {
    display: flex;
    justify-content: center;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #ffffff00;
    border-radius: 10px;
    animation: bounce 2s infinite ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .goToMainButton {
    background-color: #2d2b2f;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .goToMainButton:hover {
    background-color: #504d52;
  }