.mainProductsBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.productCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgb(0 0 0);
  transition: transform 0.3s;
  cursor: pointer;
  position: relative;
}

.productCard:hover {
  transform: translateY(-5px);
}

.seeButton {
  width: 100%;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.seeButton button {
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 8px;
  color: #242424;
  line-height: 20px;
  width: 80%;
  border: none;
}

.productCard:hover .seeButton {
  opacity: 1;
}

.heartButtonBlock {
  position: absolute;
  right: 0;
  top: 0;
}

.productImage {
  width: 210px;
  height: 250px;
  border-radius: 4px;
  object-fit: cover;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
}

.price {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  text-align: left;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.addToCart,
.like {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addToCart {
  display: flex !important;
  align-items: center;
  gap: 10px !important;
  margin-top: 10px;
}

.addToCart:hover {
  background-color: green;
}

.inCart {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  margin-top: 10px;
  background-color: #242424 !important;
  border-color: #242424 !important;
}

.like:hover {
  background-color: transparent !important;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10px;
}

.productRatingBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.orderedIndicator {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(96, 97, 18);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.productMessage {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e3f2fd;
}
